* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: lightpink;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-content: center;
    display: flex;
    text-align: center;
}
.tituloPrincipal{
    font-size: 2.5rem;
    color: blueviolet;
}
.botonera {
    margin-right: 30px;
}
.botonera ul li {
    display: inline-block;
    margin-left: 30px;
}
.botonera ul li a {
    text-decoration: dotted;
    text-transform: uppercase;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.2rem;
    border-radius: 4px;
}


.contenedor {
    text-align: center;
    margin: 50px;
    padding: 30px;
    border: solid 1px blueviolet;
    border-radius: 4px;
    background-color: bisque;
}
.contenedor h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    }
    
    .contenedor p{
        font-size: 20px;
        margin-bottom: 15px;
    }
.imagenEncabezado {
    width: 100%;
    height: 100%;
 position:relative
 
}

.imagenGaleria {
    height: 200px;
    filter: 60%;
}
.imagenContenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.campo {
    display: block;
    width: 50%;
    padding: 10px;
    margin: 10px auto;
}

.boton {
    color: black;
    background-color: #D3E4CD;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.botonWhatsApp img {
    width: 70px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.imagenProducto {
    transition: height 0.5s, width 0.5s;
}
.imagenProducto:hover {
    height: 300px;
    width: 300px;
}


footer {
    background-color:rgb(252, 112, 252);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.padreGrid {
    display: grid;
    grid-template-areas: 
    "imagenEncabezado imagenEncabezado"
    "imagenEncabezado imagenEncabezado"
    "header header"
    "contacto productos"
    "contacto productos"
    "ubicacion ubicacion"
    "footer footer"
    ;
}



header {
    grid-area: header;
}
.imagenEncabezado {
    grid-area: imagenCentral;
}

.ubicacion{
    grid-area: ubicacion;
}
.productos {
    grid-area: productos;
}
#contacto{
    grid-area: contacto;
}

.footer{
    grid-area: footer;
}

@media(max-width:900px){
.botonera ul li a {
    display: none;
}
.contenedor{
    flex-wrap: wrap;
    
}
.ubicacion{
    flex-wrap: wrap;
}
.productos{
    flex-wrap: wrap;
}
#contacto form {
    width: 90vw;
}
.campo{
    width: 90%;
}
}


    @keyframes animacion {
        0% {
            width: 220px;
        }
        25% {
            width: 240px;
        }
        50% {
            width: 260px;
        }
        75% {
 width: 280px;
        }
        100% {
            width: 300px;
        }
    }
.hijoFlex {
    animation-name: animacion;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-delay: 0.5s;
}

.imgCarousel {
    height: 350px;
    object-fit: cover;
}